<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 5</title>
</head>
<body>
    <div id="app">
        <div class="form-group">
            <input type="text" v-model:value="nama">
            <button v-if="editing" v-on:click="updatePerson">Update</button>
            <button v-else v-on:click="addPerson">Add</button>
        </div>
        <ul class="list-person">
            <li v-for="(person, index) in listPerson" style="margin-bottom: 10px;">
                <span>{{person}}</span>
                <button v-on:click='editPerson(person, index)'>Edit</button> | <button v-on:click='deletePerson(index)'>Hapus</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                nama: "",
                listPerson: [],
                editing: false,
                editingIndex: null
            },
            methods: {
                addPerson: function(){
                    this.listPerson.push(this.nama)
                    this.nama = ""
                },
                editPerson: function(nama, index) {
                    this.nama = nama
                    this.editingIndex = index
                    this.editing = true
                },
                updatePerson: function() {
                    this.listPerson[this.editingIndex] = this.nama
                    this.nama = ""
                    this.editingIndex = null
                    this.editing = false
                },
                deletePerson: function(index) {
                    if (confirm("Anda Yakin ?")) {
                        this.listPerson.splice(index, 1)
                    }
                }
            }
        })
    </script>
</body>
</html>